#fichier pour gérer les erreurs 404

<If "%{HTTP_HOST} == 'fama6831.odns.fr'">
    # Rien faire
</If>
<Else>
    <IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
</Else>
